.box{
    border: 3px solid black;
    margin-bottom: 20px;
    margin-left: 5px;
}
.myBox {
    height: 90vh;
    overflow: scroll;
}
button{
    margin-bottom: 50px;
}
.container{
    margin-bottom: 30px;
}