<div class="container" *ngIf="user$">
  <div class="row">
    <div class="col-12">
      <div class="myBox">
      <div class="row">
        <div class="col">
          <div class="row box">
            <div class="col">
              <app-user-detail [user]="user$ | async"></app-user-detail>
            </div>
          </div>
          <div class="row box">
            <div class="col">
              <app-show-post-details [post]="post"></app-show-post-details>
            </div>
          </div>
        </div>
        <div class="col">
          <app-latest-comments title="Comments for this post" [comments]="comments$ | async"></app-latest-comments>
        </div>
        </div>
      </div>

      <app-button
        title="Edit Post"
        (titleChosen)="buttonClicked($event)"
      ></app-button>

    </div>
  </div>
</div>
