<div class="container">
    <h1 class="text-center">Add Post</h1>
    <form [formGroup]="addPostForm">
        <div class="row">
          <div class="form-group col-12">
              <label><strong>Title:</strong></label>
              <input type="text" class="form-control" formControlName="title">
          </div>
          <div class="form-group col-12">
              <label><strong>Body:</strong></label>
              <textarea class="form-control" cols="1" rows="5" formControlName="body"></textarea>
          </div>
        </div>
      <app-button
        title="Submit"
        [disabled]="!addPostForm.valid"
        (titleChosen)="buttonClicked($event, addPostForm)"
      ></app-button>
      </form>
</div>
