<div class="modal-header">
  <h4 class="modal-title">Add New User</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addUserForm">
    <div class="row">
      <div class="form-group col-12">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group col-12">
          <label>Username</label>
          <input type="text" class="form-control" formControlName="username">
      </div>
      <div class="form-group col-12">
          <label>Email</label>
          <input type="email" class="form-control" formControlName="email">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" [disabled]="!addUserForm.valid" (click)="addUser(addUserForm)">Add User</button>
</div>