<app-header title="PostsManagement" subtitle="Posts"></app-header>
<!--<div class="col-lg-4 float-right">-->
  <!--<app-latest-comments [title]="title" [comments]="comments$ | async"></app-latest-comments>-->
<!--</div>-->
<div class="container myContainer">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3">
      <app-latest-comments title="Comments" [comments]="comments$ | async"></app-latest-comments>
    </div>
  </div>
</div>
<app-footer title="PostsManagement" subtitle="Posts"></app-footer>
