<app-header title="PostsManagement" subtitle="Posts" albums="Albums" (path)="albumsClicked($event)"></app-header>
<div class="container myContainer">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <ng-container *ngIf="!isAlbums">
      <div class="col-3">
        <app-latest-comments title="Comments" [comments]="comments$ | async"></app-latest-comments>
      </div>
    </ng-container>
  </div>
</div>
<app-footer title="PostsManagement" subtitle="Posts" albums="Albums" (path)="albumsClicked($event)"></app-footer>
