
<div class="container">
  <h1 class="text-center" *ngIf="isAdd; else elseBlock">Add Post</h1>
  <ng-template #elseBlock>
    <h1 class="text-center">Edit Post</h1>
  </ng-template>
  <form [formGroup]="addEditPostForm">
    <div class="row">
      <div class="form-group col-12">

        <ng-container *ngIf="isAdd; else elseBlock1">
          <label><strong>Title:</strong></label>
          <app-input (title)="this.addEditPostForm.get('title').setValue($event)"></app-input>
          <label><strong>Body:</strong></label>
          <textarea class="form-control" cols="1" rows="5" formControlName="body"></textarea>
        </ng-container>

        <ng-template #elseBlock1>
          <label><strong>Title:</strong></label>
          <app-input (title)="this.addEditPostForm.get('title').setValue($event)" [value]="(post$ | async)?.body"></app-input>
          <label><strong>Body:</strong></label>
          <textarea class="form-control" cols="1" rows="5" [value]="(post$ | async)?.body" formControlName="body"></textarea>
        </ng-template>

      </div>
    </div>
    {{ addEditPostForm.valid | json }}
    <app-button
      [title]="(isAdd) ? 'Add' : 'Update'"
      [disabled]="!addEditPostForm.valid"
      (titleChosen)="buttonClicked($event, addEditPostForm)"
    ></app-button>

  </form>
</div>
