<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="myBox">
      <div class="row">
        <div class="col">
          <div class="row box">
            <div class="col">
              <h1>User Details</h1>
                <p>
                  <strong>Name:</strong> {{(user$ | async)?.name}}
                </p>
                <p>
                  <strong>Username:</strong> {{(user$ | async)?.username }}
                </p>
                <p>
                  <strong>Email:</strong> {{(user$ | async)?.email}}
                </p>
                <p>
                  <strong>City:</strong> {{(user$ | async)?.address.city}}
                </p>
            </div>

          </div>
          <div class="row box">
            <div class="col">
              <h1>Post Details</h1>
              <p>
                <strong>Title:</strong> {{(post$ | async)?.title}} </p>
              <p #p>
                <strong>Body:</strong> {{(post$ | async)?.body}} </p>
            </div>

          </div>
        </div>
        <div class="col">
          <app-latest-comments title="Comments for this post" [comments]="comments$ | async"></app-latest-comments>
        </div>
        </div>
      </div>
      <button  class="btn btn-lg btn-outline-primary mt-md-3 float-right" (click)="editPost()">Edit Post</button>
      <button class="btn btn-lg btn-outline-primary mt-md-3 mr-md-3 float-right" (click)="navigate()">Add Post</button>
    </div>
  </div>
</div>
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-12" style="background-color: red">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
