 <ng-container *ngFor="let post of posts">
    <!--<tr>-->
    <!--<td> {{ post.title }} </td>-->
    <!--<td> {{ (post.body | slice:0:70) }}... </td>-->
    <!--<td>-->
      <!--<a class="btn btn-default btn-sm" [routerLink]="['posts/', post.id, post.userId]">-->
        <!--<i class="fa fa-info"></i>-->
      <!--</a>-->
    <!--</td>-->
  <!--</tr>-->
   <tr>
     <td> {{ post.title }} </td>
     <td> {{ (post.body | slice:0:70) }}... </td>
     <td>
       <a class="btn btn-default btn-sm" [routerLink]="['posts/', post.id, post.userID]">
         <i class="fa fa-info"></i>
       </a>
     </td>
   </tr>
  </ng-container>
